{{setPageTitle "Casamento"}}
{{setActiveNav "depoimentos"}}
{{setYUIModule "le-wedding"}}
{{setDescription ""}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/wedding.css"}}

<!-- <div id="map">
<img src="/img/noivado.jpg">
</div> -->

<br>
<br>
<br>
<br>
<div class="l-contain">
<center>
<h1>Depoimentos</h1>
<h3><em>Palavras são carinhos doados. Obrigado por nos dar o seu carinho. Iremos lembrar para sempre deste momento tão esperado.</em></h3>
<br>
<h5>Você precisa de uma conta no <a href="http://facebook.com">Facebook</a> para comentar.</h5>
<div class="fb-comments" data-href="http://www.marinaetiago.com.br" data-numposts="5"></div>
</div>
</center>
